<div class="row">
    <div class="span4">
        <label class="control-label">Language</label>
        <select class="language-picker"><option>abap</option><option>aes</option><option>apex</option><option>azcli</option><option>bat</option><option>c</option><option>cameligo</option><option>clojure</option><option>coffeescript</option><option>cpp</option><option>csharp</option><option>csp</option><option>css</option><option>dockerfile</option><option>fsharp</option><option>go</option><option>graphql</option><option>handlebars</option><option>html</option><option>ini</option><option>java</option><option>javascript</option><option>json</option><option>kotlin</option><option>less</option><option>lua</option><option>markdown</option><option>mips</option><option>msdax</option><option>mysql</option><option>objective-c</option><option>pascal</option><option>pascaligo</option><option>perl</option><option>pgsql</option><option>php</option><option>plaintext</option><option>postiats</option><option>powerquery</option><option>powershell</option><option>pug</option><option>python</option><option>r</option><option>razor</option><option>redis</option><option>redshift</option><option>restructuredtext</option><option>ruby</option><option>rust</option><option>sb</option><option>scheme</option><option>scss</option><option>shell</option><option>sol</option><option>sql</option><option>st</option><option>swift</option><option>tcl</option><option>twig</option><option>typescript</option><option>vb</option><option>xml</option><option>yaml</option></select>
    </div>
    <div class="span4">
        <label class="control-label">Theme</label>
        <select class="theme-picker">
								<option>Visual Studio</option>
								<option>Visual Studio Dark</option>
								<option>High Contrast Dark</option>
							</select>
    </div>

</div>

<iframe src="./inner.html" width="100%" height="95%"></iframe>